@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(to right top, rgb(186 230 253), rgb(233 213 255), rgb(251 207 232));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
